---
- hosts: gcp_role_appserver
  vars:
    repository_url: "https://gitlab.com/qacdevops/static-website-example"
    install_dir: "/opt/static-website-example"
  roles:
  - common
  - appserver
- hosts: gcp_role_proxy
  roles:
  - common
  - proxy